name: Run Hello Action

on:
  push:

jobs:
  run-action:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run my custom action
        uses: ./.github/actions/hello-action
        with:
          name: Hamid
